<!DOCTYPE HTML>
<html>
<head>
  <title>CultMechanics | CountDown</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="css/style.css" rel="stylesheet" type="text/css" media="all">
  <script src="js/jquery-1.7.1.min.js" type="text/javascript"></script>
  <script src="js/jquery.countdown.js" type="text/javascript"></script>
  <link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
  <script>
      $(function () {
          var targetDate = new Date("06/7/2014 12:00");
          $('.countdown').countdown({
              until: targetDate,
              format: "DHMS",
              layout: '<ul class="clock">{d<}<li class="days"><span class="desc">{dn}</span></li>{d>}{h<}<li class="hours"><span class="desc">{hnn}</span></li>{h>}{m<}<li class="minutes"><span class="desc">{mnn}</span></li>{m>}{s<}<li class="seconds"><span class="desc">{snn}</span></li>{s>}</ul>',
              onTick: everySec
          });
      });

      function everySec(periods) {
          $('.days').attr('class', 'days d' + 20);
          $('.hours').attr('class', 'hours h' + periods[4]);
          $('.minutes').attr('class', 'minutes m' + periods[5]);
          $('.seconds').attr('class', 'seconds s' + periods[6]);
      };
  </script>

  <script>
      /*FORM validation and div changing*/
      $(document).ready(function() {
          $('.form_div').hide();
          $('.thank_you').hide();

          $("#button-1").click( function () {
              $(this).parent().hide();
              $('.form_div').fadeIn(1000);

          });

          $("#button-3").click( function () {
              $(this).parent().hide();
              $('.btn-get-updates').fadeIn(1000);

          });
      });
  </script>
</head>
<body>
<div class="main">
  <div class="wrap">
    <div class="header">
      <div class="logo">
        <h1>Cult Mechanics</h1>
      </div>
    </div>
    <div class="content">
      <!-- Count down timer --->
      <div class="countdown">
        <ul class="clock">
          <li class="days d20"><span class="desc">223</span></li>
          <li class="hours h20"><span class="desc">20</span></li>
          <li class="minutes m10"><span class="desc">10</span></li>
          <li class="seconds s20"><span class="desc">20</span></li>
          <div class="clear"></div>
        </ul>
      </div>
      <h2>CAUTION <%= image_tag "caution.png" %> REVOLUTION AHEAD</h2>
      </div>
    </div>
    <div class="page_bottom footer">
      <div class="social-icons">
        <ul>
          <li class="facebook"><a  href="#" target="_blank"> </a></li>
          <li class="twitter"><a  href="#" target="_blank"> </a></li>
          <li class="googleplus"><a  href="#" target="_blank"> </a></li>
          <li class="contact"><a  href="#" target="_blank"> </a></li>
          <div class="clear"></div>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>